---
import { getCollection } from "astro:content";
import CertificationCard from "./CertificationsCard.astro";

const certifications = await getCollection("certifications");


---
<section id="certifications" class="border-b border-(--border-color)">
  <div class="max-w-7xl mx-auto px-6 py-16 md:py-24">
    <header class="mb-12 text-center">
      <h2>Certificaciones</h2>
      <p class="mt-4 text-(--text-secondary)">
        Formación continua en desarrollo y seguridad
      </p>
    </header>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 place-items-center md:place-items-stretch"
    >
      <!-- Certifications -->
      {certifications.map((cert) => <CertificationCard certification={cert} />)}
    </div>
  </div>
</section>
