---
import TerminalImg from "../assets/elements/TerminalImg.astro";
const { role = "Software Developer", description = "" } = Astro.props;
---

<section id="hero" class="border-b border-(--border-color)">
  <div class="max-w-7xl mx-auto px-4 md:px-6 py-12 md:py-26">
    <div class="flex flex-col md:flex-row gap-8 md:gap-12 items-center">
      <!-- Contenido texto -->
      <div class="flex-1 space-y-6 w-full">
        <header>
          <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold leading-tight">
            {role}
          </h1>
        </header>

        <p class="text-base md:text-lg text-(--text-secondary)">
          {description}
        </p>

        <nav class="flex flex-col sm:flex-row gap-4 pt-6">
          <a
            href="#projects"
            class="flex items-center whitespace-nowrap justify-center rounded-lg h-12 px-8 bg-(--accent-green) text-(--bg-primary) font-bold hover:bg-(--accent-cyan) transition-colors"
          >
            Ver proyectos
          </a>
          <a
            href="#contact"
            class="flex items-center whitespace-nowrap justify-center rounded-lg h-12 px-8 bg-transparent border border-(--border-color) font-bold text-(--text-primary) hover:bg-(--text-primary) hover:text-(--bg-primary) transition-colors"
          >
            Contactarme
          </a>
        </nav>
      </div>

      <!-- Terminal -->
      <div class="flex-1 w-full max-w-md">
        <TerminalImg />
      </div>
    </div>
  </div>
</section>